*, *:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    font-size: 10px;
    color: #333;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/1_bg.jpg) 50% 0 no-repeat;
    background-size: 100%;
    font-family: "BebasNeue","Microsoft YaHei";
}
body.loading {
}
#controller {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 112px;
}
.bg-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 265px;
}
#frame1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.userWrap {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    text-align: left;
}
.userWrap h3 {
    font-size: 20px;
    color: #ff6445;
    font-weight: bold;
    padding: 230px 0 10px;
    text-align: center;
    margin: 0;
    -webkit-text-shadow: 1px 1px 2px #000;
    -moz-text-shadow: 1px 1px 2px #000;
    text-shadow: 1px 1px 2px #000;
}
.userWrap label {
    display: block;
    color: #FFF;
    padding: 0 0 5px;
    font-size: 14px;
}
.userWrap label.labelErr {
    color: #f00;
}
#name {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    line-height: 40px;
    border: 1px solid #fee;
    background-color: #FFF;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
    border-radius: 8px;
    padding: 11px 5px;
    font-size: 16px;
}

body.nameFocused {
    background-position: 50% -240px;
    background-color: #4d4ab5;
}
.nameFocused h3 {
    display: none;
}
.nameFocused label {
    display: none;
}
.nameFocused #name {
    position: fixed;
    font-size: 18px;
    top: 20px;
    left: 5%;
    width: 90%;
    height: 50px;
    line-height: 20px;
    padding: 15px 5px;
    border-color: #888;
    background-color: #ffc;
}
.nameFocused #startGame{
    top: 80px;
}

#startGame{
    position: absolute;
    width: 125px;
    height: 60px;
    font-size: 0;
    margin-left: -63px;
    left: 50%;
    top: 330px;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/btn_ok.png) 0 0  no-repeat;
    background-size: 100%;
}

#startGame:active {
-webkit-box-shadow: none;
-moz-box-shadow: none;
    box-shadow: none;
}
.showHelp {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 30px;
    font-size: 0;
    width: 94px;
    height: 33px;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/btn_rule.png) 0 0 no-repeat;
    background-size: 100%;
}
#gameHelp {
    position: absolute;
    bottom: 30px;
    width: 320px;
    height: 310px;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/rule_bg.png) 0 0 no-repeat;
    background-size: 100%;
    z-index: 20;
    font-size: 0;
}
.knowHelp {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 320px;
    height: 310px;
    font-size: 0;
}
#frameSearch {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
}
#frameSearch .myName,
#frameSearch .oppoName {
    display: block;
    font-size: 24px;
    color: #ff6445;
    font-weight: bold;
}
#frameSearch .vs {
    display: block;
    padding: 50px;
    font-size: 14px;
    color: #ff6445;
}
#frame2 {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/m_bg.jpg) 50% 0 no-repeat;
    background-size: 100%;
}
#frame2 .myTime,
#frame2 .oppoTime {
    position: absolute;
    width: 85px;
    height: 55px;
    right: 4px;
    top: -13px;
    color: #333;
    font-size: 17px;
    line-height: 55px;
    z-index: 10;
    text-align: center;
}
#frame2 .hasTime {
    line-height: 27px;
}
#frame2 .myTime span,
#frame2 .oppoTime span {
    display: block;
    height: 27;
-webkit-text-shadow: 1px 1px 0 #fff;
   -moz-text-shadow: 1px 1px 0 #fff;
        text-shadow: 1px 1px 0 #fff;
}
#frame2 .useSeconds {
    font-size: 14px;
}
#frame2 .oppoTime {
    top: auto;
    right: auto;
    left: 4px;
    bottom: -12px;
}
#scoreLine {
    position: absolute;
    width: 100%;
    height: 110px;
    margin-top: -55px;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/match_board.png) 50% 0 no-repeat;
    background-size: 100% 100%;
}
#scoreLine span {
    position: absolute;
    font-size: 50px;
    font-family: 'Microsoft YaHei';
    width: 134px;
    height: 56px;
    line-height: 56px;
    left: 50%;
    top: 27px;
    margin-left: -67px;
    text-align: center;
    z-index: 1;
}
#oppoFruitWrap,
#fruitWrap {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}
#oppoFruitWrap .oppoDish {
    position: absolute;
    left: -1000px;
    top: 35px;
    width: 160px;
    height: 32px;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/grid_bg.png) 50% 0 no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}
#oppoFruitWrap .oppoReady {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 100px;
    height: 20px;
    margin-left: -50px;
    line-height: 20px;
    font-size: 20px;
    color: #0f0;
    text-align: center;
}
#fruitWrap #waitTime {
    width: 64px;
    height: 75px;
    position: absolute;
    text-align: center;
    top: 50px;
    left: 50%;
    margin-left: -32px;
    background-size: 100% 100%;
}
#fruitWrap #waitTime.count1 {
    background-image: url(http://bs.baidu.com/public01/2014-06/hackthon/images/1.png);
}
#fruitWrap #waitTime.count2 {
    background-image: url(http://bs.baidu.com/public01/2014-06/hackthon/images/2.png);
}
#fruitWrap #waitTime.count3 {
    background-image: url(http://bs.baidu.com/public01/2014-06/hackthon/images/3.png);
}
#fruitWrap #waitTime.start {
    width: 120px;
    height: 75px;
    margin-left: -60px;
    background-image: url(http://bs.baidu.com/public01/2014-06/hackthon/images/start.png);
}
#fruitWrap .fruitDish {
    position: absolute;
    left: -1000px;
    bottom: 30px;
    width: 320px;
    height: 64px;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/grid_bg.png) 50% 0 no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}
#fruitWrap .fruitDish:after,
#oppoFruitWrap .oppoDish:after {
    display: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #999;
    opacity: 0.5;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/fruit_shadow.png) repeat-x;
    background-size: 20% 100%;
    top: -8%;
}
#frame2.fruitsMask #fruitWrap .fruitDish:after,
#frame2.fruitsMask #oppoFruitWrap .oppoDish:after {
    display: block;
}
#oppoFruitWrap .fruit01:before,
#fruitWrap .fruit01:before {
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/fruit1.png) no-repeat;
}
#oppoFruitWrap .fruit02:before,
#fruitWrap .fruit02:before {
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/fruit2.png) no-repeat;
}
#oppoFruitWrap .fruit03:before,
#fruitWrap .fruit03:before {
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/fruit3.png) no-repeat;
}
#oppoFruitWrap .fruit04:before,
#fruitWrap .fruit04:before {
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/fruit4.png) no-repeat;
}
#oppoFruitWrap .fruit05:before,
#fruitWrap .fruit05:before {
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/fruit5.png) no-repeat;
}
#oppoFruitWrap .oppoFruits,
#fruitWrap .fruits {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 0;
    top: 0;
    z-index: 2;
}
#oppoFruitWrap .oppoFruits {
    width: 34px;
    height: 34px;
}
#oppoFruitWrap .oppoFruits:before,
#fruitWrap .fruits:before {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    left: 0;
    top: -4px;
    background-size: 100% 100%;
    z-index: 2;
}
#oppoFruitWrap .oppoFruits:before {
    width: 34px;
    height: 34px;
}
#frame2.fruitsMask .oppoFruits:before,
#frame2.fruitsMask .fruits:before {
    background-image: none;
}
#frame2.waitingOppo #fruitWrap,
#frame2.waitingOppo #oppoFruitWrap {

}
#fruitWrap .holding:before {
    width: 80px;
    height: 80px;
    margin: -6px 0 0 -6px;
}
#oppoFruitWrap .fruitRight:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    z-index: 1;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/grid_right.png) 50% 0 no-repeat;
    background-size: 100%;
}
#oppoFruitWrap .fruitErr:after {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/grid_wrong.png) 50% 0 no-repeat;
    background-size: 100%;
}
#fruitWrap .fruitRight:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    z-index: 1;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/grid_right.png) 50% 0 no-repeat;
    background-size: 100%;
}
#fruitWrap .fruitErr:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    z-index: 1;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/grid_wrong.png) 50% 0 no-repeat;
    background-size: 100%;
}
#frame2 .start {
    position: absolute;
    text-align: center;
    width: 125px;
    height: 60px;
    font-size: 0;
    margin-left: -63px;
    left: 50%;
    top: 50%;
    background: url(http://bs.baidu.com/public01/2014-06/hackthon/images/btn_ready.png) 0 0  no-repeat;
    background-size: 100%;
    z-index: 100;
}
#frame2.waitingOppo .start {
    display: none;
}
#frame2.waitingOppo #scoreLine span {
    font-size: 14px;
}
#frame2 .disable {
    display: none;
    color: #999;
    border: 2px solid #999;
}
#frameSucceed {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: url(http://bs.baidu.com/public01/2014-06/hackthon/images/ending_bg.png);
}
#frameSucceed .status {
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -120px;
    width: 260px;
    height: 60px;
    background-size: 100% 100%;
}
#frameSucceed.show .status {
    background-image: url(http://bs.baidu.com/public01/2014-06/hackthon/images/txt_win.png);
}
#frameSucceed.showFail .status {
    margin-left: -130px;
    top: 180px;
    background-image: url(http://bs.baidu.com/public01/2014-06/hackthon/images/txt_lose.png);
}
#frameSucceed .retry,
#frameSucceed .share {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 50%;
    top: 300px;
    margin-left: -80px;
    cursor: pointer;
    z-index: 1000;
}
#frameSucceed .share {
    top: 364px;
}
.fromShare #frame1 {
    display: block;
    background-image: url(http://ecma.bdimg.com/adtest/centrum140606share.png);
}
.fromShare #startgame {
    display: none;
}
#rotateScreen {
    display: none;
    text-align: center;
    font-size: 30px;
    color: #ff6445;
    font-weight: bold;
    line-height: 200px;
    background: #fff;
    width: 100%;
    height: 100%;
}
#gameHelp {

}
/*横屏*/
@media all and (orientation:landscape) {
    #controller {
        display: none;
    }
    #rotateScreen {
        display: block;
    }
    .enteringName #controller {
        display: block;
    }
    .enteringName #rotateScreen {
        display: none;
    }
    .enteringName #frame1 .userWrap h3 {
        padding-top: 50px;
    }
    .enteringName #frame1 .userWrap #startGame {
        top: 160px;
    }
}
@font-face {
    font-family: BebasNeue;
    src: url('https://s3.amazonaws.com/html5hacks/BebasNeue.otf');
}
