body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 20px 0 0;
    text-align: center;
    font-weight: bold;
    opacity: 0.7;
    position: relative;
    font-size: 24px;
    z-index: 3;
    color: #fff;
  -webkit-text-shadow: 1px 1px 0 #000,1px 1px 5px #333;
     -moz-text-shadow: 1px 1px 0 #000,1px 1px 5px #333;
          text-shadow: 1px 1px 0 #000,1px 1px 5px #333;
}
#score {
    position: absolute;
    top: 25px;
    left: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    opacity: 0.7;
  -webkit-text-shadow: 1px 1px 0 #000,1px 1px 3px #333;
     -moz-text-shadow: 1px 1px 0 #000,1px 1px 3px #333;
          text-shadow: 1px 1px 0 #000,1px 1px 3px #333;
    z-index: 4;
}
#highest-score {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    opacity: 0.7;
  -webkit-text-shadow: 1px 1px 0 #000,1px 1px 3px #333;
     -moz-text-shadow: 1px 1px 0 #000,1px 1px 3px #333;
          text-shadow: 1px 1px 0 #000,1px 1px 3px #333;
    z-index: 4;
}
#container {
    position: relative;
    width: 320px;
    height: 360px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: #0ae;
}

#bird {
    position: absolute;
    bottom: 230px;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 2;
    background: #42d692;
    left: 100px;
  -webkit-box-shadow: 0 0 3px #555;
     -moz-box-shadow: 0 0 3px #555;
          box-shadow: 0 0 3px #555;
    border: 1px solid #555;
}
.bird-eye {
    position: absolute;
    right: 2px;
    top: 0;
    width: 8px;
    height: 8px;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
        border-radius: 6px;
    border: 1px solid #555;
    background-color: #fff;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-name: close-eye;
            animation-name: close-eye;
    -webkit-animation-duration: 2.5s;
            animation-name: 2.5s;
}
@-webkit-keyframes close-eye {
    0% {height: 8px;top:0;}
    90% {height: 8px;top:0;}
    95% {height: 0px;top:4px;}
    100% {height: 8px;top:0;}

}

.bird-eye:after {
    content: "";
    position: absolute;
    right: 1px;
    top: 40%;
    width: 2px;
    height: 2px;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
        border-radius: 2px;
    background-color: #333;
}
.die .bird-eye {
    height: 0;
    top: 5px;
    right: 4px;
-webkit-border-radius: 0;
   -moz-border-radius: 0;
        border-radius: 0;
    background-color: #333;
    border-color: #333;
    -webkit-animation-name: none;
}
.die .bird-eye:after {
    display: none;
}
.bird-mouth {
    position: absolute;
    top: 9px;
    right: -12px;
    width: 15px;
    height: 5px;
    -webkit-border-top-left-radius: 5px;
       -moz-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 10px;
       -moz-border-top-right-radius: 10px;
            border-top-right-radius: 10px;
    background-color: #f49447;
    border: 1px solid #522e11;
}
.bird-mouth:after {
    content: "";
    position: absolute;
    top: 6px;
    left: -1px;
    width: 12px;
    height: 5px;
    -webkit-border-bottom-left-radius: 5px;
       -moz-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 10px;
       -moz-border-bottom-right-radius: 10px;
            border-bottom-right-radius: 10px;
    background-color: #f49447;
    border: 1px solid #522e11;
    border-top-width: 0;
}
.die .bird-mouth{
    top: 7px;
    -webkit-transform: rotate(-20deg);
       -moz-transform: rotate(-20deg);
            transform: rotate(-20deg);
}
.die .bird-mouth:after {
    left: -2px;
    top: 7px;
    border-top-width: 1px;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
            transform: rotate(20deg);
}
.bird-wing {
    position: absolute;
    top: 12px;
    left: -5px;
    width: 25px;
    height: 20px;
  -webkit-box-shadow: 0 2px 3px #555;
     -moz-box-shadow: 0 2px 3px #555;
          box-shadow: 0 2px 3px #555;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-border-bottom-right-radius: 15px;
       -moz-border-bottom-right-radius: 15px;
            border-bottom-right-radius: 15px;
    -webkit-border-top-left-radius: 12px;
       -moz-border-top-left-radius: 12px;
            border-top-left-radius: 12px;
    background-color: #caf9f7;
    border: 1px solid #0c543f;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-name: fly;
            animation-name: fly;
    -webkit-animation-duration: 1s;
            animation-name: 1s;
}
@-webkit-keyframes fly {
    0% {height: 20px;}
    50% {height: 8px;}
    100% {height: 20px;}

}
.die .bird-wing {
    -webkit-animation-name: none;
            animation-name: none;
}


#bg {
    position: absolute;
    z-index: 1;
    left: 320px;
    top: 0;
    width: 2000px;
    height: 360px;
    background-color: #0ae;
}

.wall {
    position: relative;
    float: left;
    top: 0;
    width: 30px;
    margin-right: 100px;
    height: 360px;
    background-size: 20px 20px;
    background-color: #b73771;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                      transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                      transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                      transparent 75%, transparent);
    -pie-background: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                     transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                     transparent 75%, transparent) 0 0 / 50px 50px, #c16;
}

.wall-gap {
    position: absolute;
    left: 0;
    width: 30px;
    height: 120px;
    background-size: 30px 30px;
    background-color: #0ae;
}
#replay {
    display: block;
    position: absolute;
    z-index: 5;
    font-size: 18px;
    color: #0c0;
    font-weight: bold;
    left: 100px;
    top: 150px;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 2px solid #0c0;
    background-color: #fff;
    opacity: 0.7;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  -webkit-text-shadow: 1px 1px 0 #333;
     -moz-text-shadow: 1px 1px 0 #333;
          text-shadow: 1px 1px 0 #333;
  -webkit-box-shadow: 1px 1px 5px #555;
     -moz-box-shadow: 1px 1px 5px #555;
          box-shadow: 1px 1px 5px #555;
}
